<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/stylesheets/transaction.css">
</head>

<body>
    <div class="navbar">
        <div class="menu" <a href="#"><i class="fa-solid fa-bars"></i></a></div>
        <div class="logo">
            <img src="/images/pic hd.png" alt="logo">
            <div class="name">
                <p>kaka </p>
                <p>ludo</p>
            </div>
        </div>
        <div class="all-nav-option">
            <div class="cash-option">
                <div class="money-img"></div>

                <div class="money-entry">
                    <div class="cash-name">cash</div>
                    <div class="rupees">0.00</div>
                </div>
                <div class="plus"><a href="/addcash">+</a></div>

            </div>


        </div>
    </div>
    </div>
    <!-- *************** side bar option :- 1 *****************  -->

    <div class="side-bar">
        <div class="myprofile-option">
            <div class="icons">
                <div class="inner-logo">
                    <a href="/profile">
                    <i class="fa-solid fa-user"></i></a>
                </div>
                
            </div>
            <div class="profile-name">
                <div class="main-profile-name"><a href="/profile">my profile</a></div>
                <div class="arrow"><a href="/profile" class="first"><i class="fa-solid fa-chevron-right"></i></a></div>
            </div>
        </div>

    <!-- *************** side bar option :- 2  *****************  -->


        <div class="myprofile-option">
            <div class="icons">
                <div class="inner-logo">
                    <a href="/mainprofile">
                        <i class="fa-solid fa-gavel"></i></a>
                </div>
                
            </div>
            <div class="profile-name">
                <div class="main-profile-name"><a href="/mainprofile">win cash</a></div>
                <div class="arrow"><a href="/mainprofile" class="first"><i class="fa-solid fa-chevron-right"></i></a></div>
                
            </div>
        </div>

            <!-- *************** side bar option :- 3 *****************  -->


        <div class="myprofile-option">
            <div class="icons">
                <div class="inner-logo">
                    <a href="/mywallet">
                        <i class="fa-solid fa-wallet"></i></a>
                </div>
                
            </div>
            <div class="profile-name">
                <div class="main-profile-name"><a href="/mywallet">my wallet</a></div>
                <div class="arrow"><a href="/mywallet" class="first"><i class="fa-solid fa-chevron-right"></i></a></div>
            </div>
        </div>

            <!-- *************** side bar option :- 4 *****************  -->



        <div class="myprofile-option">
            <div class="icons">
                <div class="inner-logo">
                    <a href="/gamehistory">
                        <i class="fa-solid fa-trophy"></i></a>
                </div>
                
            </div>
            <div class="profile-name">
                <div class="main-profile-name"><a href="/gamehistory">game history</a></div>
                <div class="arrow"><a href="/gamehistory" class="first"><i class="fa-solid fa-chevron-right"></i></a></div>
            </div>
        </div>

            <!-- *************** side bar option :- 5 *****************  -->



        <div class="myprofile-option">
            <div class="icons">
                <div class="inner-logo">
                    <a href="/transaction">
                        <i class="fa-solid fa-clock-rotate-left"></i></a>
                </div>
                
            </div>
            <div class="profile-name">
                <div class="main-profile-name"><a href="/transaction">transaction history</a></div>
                <div class="arrow"><a href="/transaction" class="first"><i class="fa-solid fa-chevron-right"></i></a></div>
            </div>
        </div>

            <!-- *************** side bar option :- 6 *****************  -->



        <div class="myprofile-option">
            <div class="icons">
                <div class="inner-logo">
                    <a href="/refer">
                        <i class="fa-solid fa-user-plus"></i></a>
                </div>
                
            </div>
            <div class="profile-name">
                <div class="main-profile-name"><a href="/refer">refer & earn</a></div>
                <div class="arrow"><a href="/refer" class="first"><i class="fa-solid fa-chevron-right"></i></a></div>
            </div>
        </div>


            <!-- *************** side bar option :- 7 *****************  -->



        <div class="myprofile-option">
            <div class="icons">
                <div class="inner-logo">
                    <a href="refferall">
                        <i class="fa-solid fa-people-group"></i></i></a>
                </div>
                
            </div>
            <div class="profile-name">
                <div class="main-profile-name"><a href="/referall">referral history</a></div>
                <div class="arrow"><a href="referall" class="first"><i class="fa-solid fa-chevron-right"></i></a></div>
            </div>
        </div>

            <!-- *************** side bar option :- 8 *****************  -->



        <div class="myprofile-option">
            <div class="icons">
                <div class="inner-logo">
                    <a href="/penelty">
                        <i class="fa-solid fa-file-invoice"></i></a>
                </div>
                
            </div>
            <div class="profile-name">
                <div class="main-profile-name"><a href="/penelty">penalty history</a></div>
                <div class="arrow"><a href="/penelty" class="first"><i class="fa-solid fa-chevron-right"></i></a></div>
            </div>
        </div>

                    <!-- *************** side bar option :- 9 *****************  -->


        <div class="myprofile-option">
            <div class="icons">
                <div class="inner-logo">
                    <a href="#">
                        <i class="fa-solid fa-bell"></i></a>
                </div>
                
            </div>
            <div class="profile-name">
                <div class="main-profile-name"><a href="/orderhistory">notification</a></div>
                <div class="arrow"><a href="/orderhistory" class="first"><i class="fa-solid fa-chevron-right"></i></a></div>
            </div>
        </div>
  </div>



        <div class="all-detail">
            <div class="dateandtime">
                <p>04 feb</p>
                <p>22.12 pm</p>
            </div>
            <div class="orinfo">
                <div class="tran-name">
                    <p class="won">won against bhavisha</p>
                    <p class="orderid">order id : <span>582085555</span></p>
                </div>
                <div class="pisa">
                    <p><span>(+)</span>250</p>
                </div>
            </div>
        </div>

        <div class="all-detail">
            <div class="dateandtime">
                <p>04 feb</p>
                <p>22.12 pm</p>
            </div>
            <div class="orinfo">
                <div class="tran-name">
                    <p class="won">won against bhavisha</p>
                    <p class="orderid">order id : <span>582085555</span></p>
                </div>
                <div class="pisa">
                    <p><span>(+)</span>250</p>
                </div>
            </div>
        </div>
    </div>
    <script src="/javascripts/mainprofile.js"></script>
</body>
</html>