<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="/images/pic hd.png" alt="logo">
            <div class="name">
            <p>kaka </p>
            <p>ludo</p>
        </div>
    </div>
        <div class="all-nav-option">
            <a href="/login"><button class="signup">login</button></a>
            <a href="/login"><button class="signup">signup</button></a>
        </div>
    </div>

 <div class="nav-under-heading">
    <a href="/"><p>No GST | commission : 4% | No TDS </p></a>
 </div>

 <div class="heading">
    <p>our games</p>
 </div>
 // sjdfjdfl
 <div class="main-div">
    <div class="inner-div-1">
        <p>lodo classic is live hurry up </p>
        <a href="/"><img src="/images/ludo pic hd.png" alt="img"></a>
        <a href="/"><button>Rs.100-Rs.500</button></a>
    </div> 
     <div class="inner-div-1">
        <p>lodo classic is live hurry up </p>
        <a href="/"><img src="/images/ludo pic hd.png" alt="img"></a>
        <a href="/"><button>Rs.550-Rs.2500</button></a>
    </div>
   
 </div>

 <div class="aboutus">
    <p class="para">about us</p>
    <p class="about-us">ApnaLudo is a real-money gaming product owned ("Kaka Ludo" or "We" or "Us" or "Our").</p>
    <p class="other">KaKa Ludo is a skill-based real-money gaming platform accessible only for our users in India. It is accessible on https://www.kakaludo.com. On ApnaLudo, users can compete for real cash in Tournaments and Battles. They can encash their winnings via popular options such as Paytm Wallet, Amazon Pay, Bank Transfer, Mobile Recharges etc.</p>
    <p class="other">Our team consists of dedicated professionals with years of experience in gaming, finance, and technology. We understand the importance of fair play, security, and transparency, which is why we've built kakaludo.com to provide a seamless and secure platform for players to engage in thrilling Ludo matches while investing with confidence.</p>
    <p class="other">Global Reach: With players from every corner of the globe, [Your Website Name] offers a truly global gaming and investment platform where cultural diversity meets competitive spirit.</p>
 </div>

 <footer>
    <div class="all-option">
    <a href="/"><p>| about |</p></a>
    <a href="/"><p>privacy policy |</p></a>
    <a href="/"><p>contact us |</p></a>
    <a href="/"><p>terms & condition |</p></a>
    <a href="/"><p>refund/cancellation policy |</p></a>
</div>
<p>| devloped by future |</p>
</footer>


 
    
    
</div>
</body>
</html>