<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/;ogin.css">
</head>
<body>
    <div class="allform">
        <img src="/images/logo kl.png" alt="">
        <h2>welcome to kaka ludo </h2>
        <div class="form">
            <h3>sign in or sign up</h3>
          <div class="form-inner">
            <div class="number">+91</div>
            <form action="">
                <input type="text" placeholder="mobile number" name="number" id="mobile" required>
            </form>
        </div>
        <a href="/mainprofile"><button class="button">submit</button></a>
    </div>
    <p>By proceeding, you agree to our Terms of Use,<a href="/"> Privacy Policy</a> and that you are 18 years or older. You are not playing from Assam, Odisha, Nagaland, Sikkim, Meghalaya, Andhra Pradesh, or Telangana.</p>
    </div>
    <script src="/javascripts/login.js"></script>
</body>
</html>