<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/stylesheets/mainprofile.css">
</head>
<body>
    <div class="navbar">
        <div class="menu"<a href="#"><i class="fa-solid fa-bars"></i></a></div>
        <div class="logo">
            <img src="/images/pic hd.png" alt="logo">
            <div class="name">
                <p>kaka </p>
                <p>ludo</p>
            </div>
        </div>
        <div class="all-nav-option">
           <div class="cash-option">
                <div class="money-img"></div>

                <div class="money-entry">
                   <div class="cash-name">cash</div>
                   <div class="rupees">0.00</div>
                </div>
             <div class="plus"><a href="/addcash">+</a></div>

            </div>
            

           </div>
        </div>
    </div>

    <!-- *************** side bar option :- 1 *****************  -->

    <div class="side-bar">
        <div class="myprofile-option">
            <div class="icons">
                <div class="inner-logo">
                    <a href="/profile">
                    <i class="fa-solid fa-user"></i></a>
                </div>
                
            </div>
            <div class="profile-name">
                <div class="main-profile-name"><a href="/profile">my profile</a></div>
                <div class="arrow"><a href="/profile" class="first"><i class="fa-solid fa-chevron-right"></i></a></div>
            </div>
        </div>

    <!-- *************** side bar option :- 2  *****************  -->


        <div class="myprofile-option">
            <div class="icons">
                <div class="inner-logo">
                    <a href="/mainprofile">
                        <i class="fa-solid fa-gavel"></i></a>
                </div>
                
            </div>
            <div class="profile-name">
                <div class="main-profile-name"><a href="/mainprofile">win cash</a></div>
                <div class="arrow"><a href="/mainprofile" class="first"><i class="fa-solid fa-chevron-right"></i></a></div>
                
            </div>
        </div>

            <!-- *************** side bar option :- 3 *****************  -->


        <div class="myprofile-option">
            <div class="icons">
                <div class="inner-logo">
                    <a href="/mywallet">
                        <i class="fa-solid fa-wallet"></i></a>
                </div>
                
            </div>
            <div class="profile-name">
                <div class="main-profile-name"><a href="/mywallet">my wallet</a></div>
                <div class="arrow"><a href="/mywallet" class="first"><i class="fa-solid fa-chevron-right"></i></a></div>
            </div>
        </div>

            <!-- *************** side bar option :- 4 *****************  -->



        <div class="myprofile-option">
            <div class="icons">
                <div class="inner-logo">
                    <a href="/gamehistory">
                        <i class="fa-solid fa-trophy"></i></a>
                </div>
                
            </div>
            <div class="profile-name">
                <div class="main-profile-name"><a href="/gamehistory">game history</a></div>
                <div class="arrow"><a href="/gamehistory" class="first"><i class="fa-solid fa-chevron-right"></i></a></div>
            </div>
        </div>

            <!-- *************** side bar option :- 5 *****************  -->



        <div class="myprofile-option">
            <div class="icons">
                <div class="inner-logo">
                    <a href="/transaction">
                        <i class="fa-solid fa-clock-rotate-left"></i></a>
                </div>
                
            </div>
            <div class="profile-name">
                <div class="main-profile-name"><a href="/transaction">transaction history</a></div>
                <div class="arrow"><a href="/transaction" class="first"><i class="fa-solid fa-chevron-right"></i></a></div>
            </div>
        </div>

            <!-- *************** side bar option :- 6 *****************  -->



        <div class="myprofile-option">
            <div class="icons">
                <div class="inner-logo">
                    <a href="/refer">
                        <i class="fa-solid fa-user-plus"></i></a>
                </div>
                
            </div>
            <div class="profile-name">
                <div class="main-profile-name"><a href="/refer">refer & earn</a></div>
                <div class="arrow"><a href="/refer" class="first"><i class="fa-solid fa-chevron-right"></i></a></div>
            </div>
        </div>


            <!-- *************** side bar option :- 7 *****************  -->



        <div class="myprofile-option">
            <div class="icons">
                <div class="inner-logo">
                    <a href="refferall">
                        <i class="fa-solid fa-people-group"></i></i></a>
                </div>
                
            </div>
            <div class="profile-name">
                <div class="main-profile-name"><a href="/referall">referral history</a></div>
                <div class="arrow"><a href="referall" class="first"><i class="fa-solid fa-chevron-right"></i></a></div>
            </div>
        </div>

            <!-- *************** side bar option :- 8 *****************  -->



        <div class="myprofile-option">
            <div class="icons">
                <div class="inner-logo">
                    <a href="/penelty">
                        <i class="fa-solid fa-file-invoice"></i></a>
                </div>
                
            </div>
            <div class="profile-name">
                <div class="main-profile-name"><a href="/penelty">penalty history</a></div>
                <div class="arrow"><a href="/penelty" class="first"><i class="fa-solid fa-chevron-right"></i></a></div>
            </div>
        </div>

                    <!-- *************** side bar option :- 9 *****************  -->


        <div class="myprofile-option">
            <div class="icons">
                <div class="inner-logo">
                    <a href="#">
                        <i class="fa-solid fa-bell"></i></a>
                </div>
                
            </div>
            <div class="profile-name">
                <div class="main-profile-name"><a href="/orderhistory">notification</a></div>
                <div class="arrow"><a href="/orderhistory" class="first"><i class="fa-solid fa-chevron-right"></i></a></div>
            </div>
        </div>
  </div>

 <div class="nav-under-heading">
    <a href="/"><p>No GST | commission : 4% | No TDS </p></a>
 </div>

 <div class="heading">
    <p>our games</p>
 </div>

 <!-- **************  kyc form *************  -->
   
      <div class="kyc-div">
        <div class="optionss">
        <p class="kyc-name">kyc pending !</p>
       <a href="/kyc"> <p>complete here</p> </a>
    </div>
      </div>



 <div class="main-div">
    <div class="inner-div-1">
        <p>lodo classic is live hurry up </p>
        <a href="/setamount"><img src="/images/ludo pic hd.png" alt="img"></a>
        <a href="/setamount"><button>Rs.100-Rs.500</button></a>
    </div> 
     <div class="inner-div-1">
        <p>lodo classic is live hurry up </p>
        <a href="/setamount"><img src="/images/ludo pic hd.png" alt="img"></a>
        <a href="/setamount"><button>Rs.550-Rs.2500</button></a>
    </div>
   
 </div>

 <div class="aboutus">
    <p class="para">about us</p>
    <p class="about-us">ApnaLudo is a real-money gaming product owned ("Kaka Ludo" or "We" or "Us" or "Our").</p>
    <p class="other">KaKa Ludo is a skill-based real-money gaming platform accessible only for our users in India. It is accessible on https://www.kakaludo.com. On ApnaLudo, users can compete for real cash in Tournaments and Battles. They can encash their winnings via popular options such as Paytm Wallet, Amazon Pay, Bank Transfer, Mobile Recharges etc.</p>
    <p class="other">Our team consists of dedicated professionals with years of experience in gaming, finance, and technology. We understand the importance of fair play, security, and transparency, which is why we've built kakaludo.com to provide a seamless and secure platform for players to engage in thrilling Ludo matches while investing with confidence.</p>
    <p class="other">Global Reach: With players from every corner of the globe, [Your Website Name] offers a truly global gaming and investment platform where cultural diversity meets competitive spirit.</p>
 </div>

 <footer>
    <div class="all-option">
    <a href="/" class="alla">| about |</a>
    <a href="/" class="alla">| privacy policy |</a>
    <a href="/" class="alla">| contact us |</a>
    <a href="/" class="refund refu">| terms & condition |</a>
    <a href="/" class="refund re">| refund/cancellation |</a>
</div>
<p>| devloped by future |</p>
</footer>


 
    
    
</div>
<script src="/javascripts/mainprofile.js"></script>
</body>
</html>