<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/orderhistory.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="navbar">
        <div class="menu"<a href="#"><i class="fa-solid fa-bars"></i></a></div>
        <div class="logo">
            <img src="/images/pic hd.png" alt="logo">
            <div class="name">
                <p>kaka </p>
                <p>ludo</p>
            </div>
        </div>
        <div class="all-nav-option">
           <div class="cash-option">
                <div class="money-img"></div>

                <div class="money-entry">
                   <div class="cash-name">cash</div>
                   <div class="rupees">0.00</div>
                </div>
             <div class="plus"><a href="/addcash">+</a></div>

            </div>
            

           </div>
        </div>
    </div>
    <div class="all-transication">

        <h2>No transactions yet!</h2>
        <p class="paragraph">Seems like you haven’t done any activity yet</p>
    </div>

</body>
</html>
