

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
  }
  body{
    background-color: rgb(216, 207, 208);
  
    overflow-x: hidden;
  }
  html {
    font-size: 62.5%;
  }
  
  .navbar{
    height: 5rem;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    
  }
  
  .logo{
    height:100%;
    width: 40%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    /* paddin; */
    
  }
  
  .logo img{
    height: 95%;
    width: 5rem;
    mix-blend-mode: darken;
    margin-left: 1rem;
    border-radius: 1.3rem;
  }
  
  
  .name{
    width: 8rem;
    /* border: 1px solid black; */
    margin-left: .5rem;
  }
  
  .logo p{
    font-size: 1.6rem;
    margin-left: .5rem;
    font-weight: 550;
    color: #000000;
    text-transform: capitalize;
  }
  .all-nav-option{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: end;
    align-items: center;
    /* border: 1px solid black; */
  
  }
  
  .all-nav-option button{
    height:4rem ;
    width: 10rem;
    border:1px solid black;
    background-color: white;
    color:#000000;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: 550;
    margin-right: 3rem;
    text-transform: capitalize;
    border-radius: 1rem;
    
  }
  
  .all-nav-option button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
  }
  
  .nav-under-heading{
    height: 3rem;
    width: 100%;
    border-radius: 1rem;
    background-color: purple;
    color: white;
    font-size: 1.6rem;
    font-weight: 550;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    position: relative;
    z-index: -1;
    
  }
  .nav-under-heading a{
    text-decoration: none;
    color: white;
    font-weight: 550;
    font-size: 1.6rem;
    cursor: pointer;
  }
  
  .heading{
    height: 2rem;
    width: 100%;
    font-size: 2rem;
    text-transform: capitalize;
    padding: 0 0 0 3rem;
    color: black;
    margin-top: 1.5rem;
    font-weight: 550;
  }
  
  .main-div{
    height:40rem;
    width: 99%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid black; */
    margin-top: 2.5rem;
    /* flex-wrap: wrap;
    gap: 2rem 1rem; */
    
  }
  
  .inner-div-1{
    height: 90%;
    width: 40%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 1rem 1rem;
    
  }
  .inner-div-1 p{
    font-size: 1.2rem;
  }
  .inner-div-1 img{
    height: 25rem;
    width: 35rem;
    margin-top: .5rem;
    border-radius: 6rem;
  }
  .inner-div-1 img:hover{
    box-shadow: 0px 0px 10px purple, 1px 1px 30px #0053b8f7;
  }
  
  .inner-div-1 button{
    height: 4rem;
    width: 30rem;
    border-radius: .5rem;
    background-color: rgb(183, 32, 183);
    color: white;
    border: none;
    font-size: 1.8rem;
    margin-top: .5rem;
    cursor: pointer;
    /* font-weight: 550; */
    
    
    
  }
  
  .aboutus{
    height: 15rem;
    width:100%;
    /* padding: 1rem 1rem 0 2rem; */
    margin-top: 3rem;
    border-top: 1px solid #534e4e;
  }
  .aboutus p{
    margin-left: 2rem;
    margin-right: 2rem;
  }
  
  .para{
    font-size: 1.6rem;
    text-transform: capitalize;
    color: #534e4e;
    margin-top: 1rem;
  }
  
  .about-us{
    font-size: 1.2rem;
    color: #534e4e;
    margin-top: .5rem;
  }
  
  .other{
    font-size: 1.2rem;
    color: #534e4e;
    margin-top: 1rem;
    
    
  }
  
  footer{
    height: 8vh;
    width: 100vw;
    border-top: .5px solid #534e4e;
    margin: 3rem 0 .5rem 0;
  
  }
  
  footer p{
    font-size: 1.2rem;
    color: #534e4e;
    display: flex;
    justify-content: center;
  }
  
  .all-option{
    height: 5vh;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .5rem;
    
  
  }
  .all-option a {
    text-decoration: none;
    color: #534e4e;
    font-size: 1.4rem;
    margin-left: 1rem;
    text-transform: capitalize;
    
  }
  
  @media screen and (max-width: 850px){
    .inner-div-1 img {
      height: 30rem;
      width: 35rem;
      border-radius: 0;
    }
    
  }
  
  
  .menu{
    height: 100%;
    width: 5rem;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center ;
    margin-left: 1rem;
  } 
  
  .menu i{
    font-size: 2.5rem;
    cursor: pointer;
    color: black;
  }
  
  .cash-option{
    height: 80%;
    width: 10rem;
    border: 1px solid rgb(8, 4, 4);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    margin-right: 3rem;
    margin-top: .7rem;
    
  }

  
  .money-img{
    height: 100%;
    width: 40%;
    background-image: url("/images/money.png");
    background-size: cover;
    mix-blend-mode: darken;
    /* border: 1px solid black; */
  }
  .money-entry{
    height: 100%;
    width: 40%;
    
  }
  
  .cash-name{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    
  }

  .plus{
    height: 100%;
    width: 20%;
    font-size: 1.6rem;
    font-weight: 550;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(160, 154, 154 , .4);
  }
  .plus a {
    text-decoration: none;
color: black;
}


.rupees{
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  font-size: 1.4rem;
  font-weight: 550;
  
}

.side-bar{
    height: 89vh;
    width: 32rem;
    /* border: 1px solid black; */
    position: absolute;
    z-index: 1;
    top: 6rem;
    padding: 0 0 0 2rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    display: none;
  
    
  }
.myprofile-option{
width: 100%;
  height: 7rem;
  border-bottom: .8px solid #979595;
  background-color: white;
  display: flex;
  align-items: center;
}

.icons{
  height: 100%;
  width: 25%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.inner-logo{
  height: 60%;
  width: 60%;
  border-radius: 50%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
    background-color:#01002E ;
    font-size: 1.6rem;
    color: white;
}
.inner-logo a{
    text-decoration: none ;
    color: white;
  }
  .profile-name{
    height: 100%;
    width: 75%;
    padding: 0 .5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: -1rem;
  }
  .main-profile-name{
    width: 85%;
    height: 100%;
    /* border: 1px solid black; */
    font-size: 1.4rem;
    text-transform: capitalize;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .arrow{
    height: 100%;
    width: 15%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  }
  .profile-name a{
    text-decoration: none;
    color: #444343;;
    
  }
  
 

.arrow a i{
  color: #534e4e;
}

.kyc-div{
  height: 10vh;
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  
}

.optionss{
  height: 100%;
  width: 50rem ;
  background-color: #e2aeb2;
  display: flex;
justify-content: space-around;
align-items: center;
 border-radius: .5rem;

}
.kyc-name{
  font-size: 2.2rem;
  text-transform: capitalize;

}



.optionss a {
  height: 4rem;
  width: 15rem;
  background-color: rgb(205, 27, 27);
  border: none;
  border-radius: .5rem;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 1.6rem;
  color: white;

  
}

.optionss a p{
 margin-top: 1.2rem;
 margin-left: 1.7rem;

}



@media screen and (max-width: 450px){
.main-div{
  height: 25rem;

}

.inner-div-1 img{
  height: 15rem;
  width: 15rem;
}

.inner-div-1 button{
  height: 3rem;
  width: 15rem;
}


.all-nav-option button{
  margin-right: 1rem;
}
footer{
  
  position: relative;
  top: 20vh;
}

footer p{
  position: relative;
  top: 1rem;
  font-size: 1.4rem;
}

.all-option a{
  
  font-size: 1.4rem;
margin: 1rem 0 0 4rem;
}

.all-option{
  height: 7vh;
  display: block;
  justify-content: space-evenly;
  margin: 0 0  0 0;
}
.alla{
  position: relative;
  top: .5rem;
  /* left: 1rem; */
}

.refund{
  position: relative;
  top: 1.5rem;
  
  
  
}
.refu{
  position: relative;
  left: -2rem;
}




.side-bar{
  width: 28rem;
  padding:  0 0 0  0;
}

body{
  overflow-x: hidden;
}




}




